@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
}

header .content {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

header .logo {
    width: 3.5rem;
}

header .icon {
    width: 5rem;
    vertical-align: bottom;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 3rem;
}

nav li .button {
    color: #FF0000;
    border: solid 2px #FF0000;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    transition: 0.5s;
}

nav li .button:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}

.main-content {
    position: relative;
    top: 74px;
}

#intro-section {
    background: url("../img/secondary-background.png") no-repeat;
    background-size: cover;
    height: 35rem;
}

.girl {
    position: absolute;
    max-height: 25rem;
    float: right;
    top: 8.2rem;
    right: 10rem;
}

.speech-bubble img {
    position: absolute;
    float: right;
    width: 42%;
    top: 4rem;
    right: 28rem;
}

.speech-bubble .text {
    position: absolute;
    float: right;
    top: 6rem;
    right: 40rem;
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.3rem;
}

.speech-bubble .text span {
    color: #CF1B1B;
    font-weight: bolder;
}

.search-box {
    width: 65%;
    position: absolute;
    right: 15rem;
    top: 33rem;
}

.search-box input[type="text"] {
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 1.2rem;
    padding-left: 5rem;
    box-sizing: border-box;
    border: solid 2px white;
    border-radius: 25px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.2);
}

#dataRS-content{
    position: relative;
    top: 5rem;
    padding: 2rem 3rem 4rem 3rem;
}

.title_ruangan{
    font-size: xx-large;
    color: #CF1B1B;
    font-weight: 900;
    padding-bottom: .75rem;
}

h3 {
    padding-bottom: 2rem;
}

.table-wrapper{
    padding: 2rem;
    background-color:white;
    border-style: none;
    border-radius: 8px;
    box-shadow: 2px 3px 19px 1px rgba(0,0,0,0.2);
}

table {
    width: 100%;
}

th {
    height: 20px;
    text-align: left;
}

td {
    padding: 10px 0;
}

.namaRS {
    min-width: 30%;
}

.kelasVIP, .kelas1, .kelas2, .kelas3 ,.covid {
    width: 10%;
    text-align: center;
}

.table_head{
    font-weight: bold;
    color: #CF1B1B;
}