@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
}

header .content {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

header .logo {
    width: 3.5rem;
}

header .icon {
    width: 5rem;
    vertical-align: bottom;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 3rem;
}

nav li .button {
    color: red;
    border: solid 2px red;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}

.main-content {
    position: relative;
    top: 74px;
}

#intro-section {
    background: url("../img/secondary-background.png") no-repeat;
    background-size: cover;
    height: 35rem;
}

.girl {
    position: absolute;
    max-height: 25rem;
    float: right;
    top: 8.2rem;
    right: 10rem;
}

.speech-bubble img {
    position: absolute;
    float: right;
    width: 42%;
    top: 4rem;
    right: 28rem;
}

.speech-bubble .text {
    position: absolute;
    top: 6rem;
    left: 30rem;
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.3rem;
}

.speech-bubble .text span {
    color: red;
    font-weight: bolder;
}

.search-box {
    width: 65%;
    position: absolute;
    right: 15rem;
    bottom: -1.75rem;
}

.search-box input[type="text"] {
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 1.2rem;
    padding-left: 5rem;
    box-sizing: border-box;
    border: solid 2px white;
    border-radius: 25px;
    box-shadow: 5px 5px 7px grey;
}