@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Header */
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
}

header .content {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

header .logo {
    width: 3.5rem;
}

header .icon {
    width: 5rem;
    vertical-align: bottom;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 3rem;
}

nav li .button {
    color: #FF0000;
    border: solid 2px #FF0000;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    transition: 0.5s;
}

nav li .button:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}

/* Banner */
.main-content {
    position: relative;
    top: 74px;
}

#intro-section {
    background: url("../img/secondary-background.png") no-repeat;
    background-size: cover;
    height: 35rem;
}

.girl {
    position: absolute;
    max-height: 25rem;
    float: right;
    top: 8.2rem;
    right: 10rem;
}

.speech-bubble img {
    position: absolute;
    float: right;
    width: 42%;
    top: 4rem;
    right: 28rem;
}

/* Search Box */
.search-box {
    width: 65%;
    position: absolute;
    right: 15rem;
    top: 33rem;
}

.search-box input[type="text"] {
    width: 100%;
    font-size: 20px;
    outline: none;
    text-align: left;
    padding: 1.2rem;
    padding-left: 5rem;
    box-sizing: border-box;
    border: solid 2px white;
    border-radius: 25px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.2);
}

/* Table */
#dataRS-content{
    background: url("../img/dataset-background.png") no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: relative;
    top: 5rem;
    padding: 2rem 3rem 0 3rem;
}

#dataRS-content h1{
    font-size: xx-large;
    color: #CF1B1B;
    font-weight: 900;
}

#dataRS-content h2 {
    margin-top: 100px;
    font-size: 2rem;
    color: #CF1B1B;
    font-weight: 900;
}

h3 {
    padding: 0.75rem 0 2rem 0;
}

.table-wrapper{
    padding: 2rem;
    background-color:white;
    border-style: none;
    border-radius: 8px;
    box-shadow: 2px 3px 19px 1px rgba(0,0,0,0.2);
}

table {
    width: 100%;
}

th {
    height: 20px;
    text-align: left;
}

td {
    padding: 10px 0;
}

.namaRS {
    min-width: 30%;
}

.kelasVIP, .kelas1, .kelas2, .kelas3 ,.covid {
    width: 10%;
    text-align: center;
}

.table_head{
    font-weight: bold;
    color: #CF1B1B;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
  
  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
  /* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    /* padding: 30px; */
    background-color: #FFFFFF;
    color: #000;
}

.modal-header h2 {
    font-size: 2rem;
    color: #CF1B1B;
    font-weight: 900;
    padding-bottom: 30px;
}

.modal-header i {
    color: #CF1B1B;
    padding-right: 5px;
    font-size: 1.25rem;
}
  
.modal-body {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.content-box {
    color: #FFFFFF;
    flex-basis: 40%;
    margin: 10px;
    text-align: center;
    background-color: #CF1B1B;
    border-radius: 25px;
}

.content-box h4 {
    padding: 20px 0 0 0;
}

.content-box h1 {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 900;
}
  
.modal-footer {
    background-color: #FFFFFF;
    color: #000;
    text-align: center;
}

.footer-content {
    display: inline-block;
    background-color: #CF1B1B;
    margin-top: 100px;
    text-align: center;
    width: 20%;
    border-radius: 25px;
}

.footer-content a {
    font-size: 1rem;
    color: #FFFFFF;
}

.footer-content h3 {
    padding: 20px 0;
}
