html {
    font-family:'Poppins';
    font-size: 16px;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
}

header .content {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

header .logo {
    width: 3.5rem;
}

header .icon {
    width: 5rem;
    vertical-align: bottom;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 3rem;
}

nav li .button {
    color: red;
    border: solid 2px red;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}

.main-content {
    position: relative;
    top: 74px;
}
.datars-content{
    position: relative;
    margin-top:10em;
    padding: 2em 3em 4em 3em;
}
#intro-section {
    background: url("../img/secondary-background.png") no-repeat;
    background-size: cover;
    height: 35rem;
}

#intro-section .girl {
    position: absolute;
    max-height: 25rem;
    float: right;
    top: 8.2rem;
    right: 10rem;
}

.search-box {
    width: 65%;
    position: absolute;
    right: 15rem;
    bottom: -1.75rem;
}

.search-box input[type="text"] {
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 1.2rem;
    padding-left: 5rem;
    box-sizing: border-box;
    border: solid 2px white;
    border-radius: 25px;
    box-shadow: 5px 5px 7px grey;
}
.table-wrapper{
    margin: .5em;
    padding: 2em;
    background-color:white;
    border-style: none;
    border-radius: 8px;
    box-shadow: 2px 3px 19px 1px rgba(0,0,0,0.2);
}
.table_head{
    font-weight: bold;
    color: #CF1B1B;
}
.title_ruangan{
    font-size: xx-large;
    color: #CF1B1B;
    font-weight:900;
    padding-bottom: 2em;
}
.namaRS{
    padding-right:7em;
}
.kelasVIP,.kelas1,.kelas2,.kelas3{
    padding-left:7em;
    padding-right:7em;
}
.covid{
    padding-left:7em;
}