@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Header */
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
}

header .content {
    display: flex;
    align-items: center;
    padding: 8px 24px;
}

header .logo {
    width: 56px;
}

header .icon {
    width: 80px;
    vertical-align: bottom;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 48px;
}

.navbar-toggle {
    display: none;
}

/* Banner */
.main-content {
    position: relative;
    top: 74px;
}

#intro-section {
    background: url("../img/secondary-background.png") no-repeat;
    background-size: cover;
    height: 560px;
}

.girl {
    position: absolute;
    max-height: 400px;
    float: right;
    top: 131.2px;
    right: 10%;
}

.speech-bubble img {
    position: absolute;
    float: right;
    width: 42%;
    height: auto;
    top: 3%;
    right: 32%;
}

/* Search Box */
.search-box {
    width: 65%;
    position: absolute;
    right: 15%;
    top: 528px;
}

.search-box input[type="text"] {
    width: 100%;
    font-size: 1.25rem;
    outline: none;
    text-align: left;
    padding: 19.2px;
    padding-left: 80px;
    box-sizing: border-box;
    border: solid 2px white;
    border-radius: 25px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.2);
}

/* Table */
#dataRS-content{
    background: url("../img/dataset-background.png") no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: relative;
    top: 80px;
    padding: 32px 48px 0 48px;
}

#dataRS-content h1{
    font-size: xx-large;
    color: #CF1B1B;
    font-weight: 900;
}

#dataRS-content h2 {
    margin-top: 100px;
    font-size: 2rem;
    color: #CF1B1B;
    font-weight: 900;
}

h3 {
    padding: 12px 0 32px 0;
}

.table-wrapper{
    padding: 32px;
    background-color:white;
    border-style: none;
    border-radius: 20px;
    box-shadow: 2px 3px 19px 1px rgba(0,0,0,0.2);
}

table {
    width: 100%;
}

th {
    height: 20px;
    text-align: left;
}

td {
    padding: 10px 0;
}

.namaRS {
    min-width: 30%;
}

.kelasVIP, .kelas1, .kelas2, .kelas3 ,.covid {
    width: 10%;
    text-align: center;
}

thead{
    font-weight: bold;
    color: #CF1B1B;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 30px;
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    /* padding: 30px; */
    background-color: #FFFFFF;
    color: #000;
}

.address {
    display: flex;
}

.modal-header h2 {
    font-size: 2rem;
    color: #CF1B1B;
    font-weight: 900;
    padding-bottom: 30px;
}

.modal-header i {
    color: #CF1B1B;
    padding-right: 10px;
    font-size: 2rem;
}

.modal-header p {
    line-height: 1.2rem;
    font-weight: 500;
}
  
.modal-body {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.content-box {
    color: #FFFFFF;
    flex-basis: 30%;
    margin: 0 10px 10px 0;
    text-align: center;
    background-color: #CF1B1B;
    border-radius: 25px;
}

.content-box h4 {
    padding: 20px 0 0 0;
}

.content-box h1 {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 900;
}
  
.modal-footer {
    background-color: #FFFFFF;
    color: #000;
    text-align: center;
}

.footer-content {
    display: inline-block;
    background-color: #CF1B1B;
    margin-top: 50px;
    text-align: center;
    width: 40%;
    border-radius: 25px;
}

.footer-content a {
    font-size: 1rem;
    color: #FFFFFF;
}

.footer-content h3 {
    padding: 20px 0;
}

/* Bagian Counter Covid-19 */
#covid19 {
    height: 200px;
    position: relative;
    top: 80px;
}

#covid19 h1 {
    font-size: xx-large;
    color: #fff;
    font-weight: 450;
}

#covid19 h3 {
    color: #fff;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.left-section {
    background-color: #CF1B1B;
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
}

.middle-section {
    background-color: #af1010;
    position: relative;
    display: inline-block;
    width: 34%;
    height: 100%;
}

.right-section {
    background-color: #CF1B1B;
    position: relative;
    float: right;
    width: 33%;
    height: 100%;
}

/* Bagian Info */
#info {
    top: 80px;
    background: url("../img/quarternary-background.png") no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: relative;
    padding: 64px 48px;
}

#info p {
    padding: 32px 12% 32px 12%;
    font-size: large;
    text-align: justify;
    line-height: 1.25;
}

.faq h1 {
    font-size: xx-large;
    color: #CF1B1B;
    font-weight: 900;
    text-align: center;
}

.faq h4 {
    text-align: center;
    font-size: large;
    color: #CF1B1B;
    font-weight: 900;
}

/* Bagian Tentang Kami */
#about {
    background: url("../img/tertiary-background.png") no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: relative;
    padding: 64px 48px 0 48px;
    top: 80px;
}

#about h1 {
    font-size: xx-large;
    color: #fff;
    font-weight: 900;
    text-align: center;
}

#about p {
    color: #fff;
    text-align: justify;
    padding: 50px;
    line-height: 1.15;
}

/* Media Queries */
@media (max-width: 769px) {
    .desktop {
        display: none;
    }

    header .content {
        display: block;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    nav li {
        margin: 30px auto;
        padding: 0;
    }

    .navbar-toggle {
        display: block;
        position: absolute;
        top: 25px;
        right: 20px;
        cursor: pointer; 
        font-size: 1.5rem;
    }

    .main-nav {
        list-style-type: none;
        display: none;
    }

    .active {
        display: block;
    }

    .speech-bubble img {
        right: 0;
        width: 100%;
    }

    .search-box {
        width: 100%;
        right: 0;
    }

    #dataRS-content {
        text-align: center;
        padding: 0;
    }

    .namaRS {
        text-align: left;
    }

    .footer-content {
        width: 100%;
    }
}

@media (max-width: 600px) {
    #intro-section {
        height: 450px;
    }

    .search-box {
        top: 425px;
    }

    .modal-content {
        justify-content: center;
    }
}